.text-center {
    text-align: center;
}

.container {
    height: 200px;
    position: relative;
    border: 3px solid green;
}

.center {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button {
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}

.row {
    margin: 8px;
}

.row input {
    margin: 0;
    font-size: 15px;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
}